* {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
}
body input {
	margin: 10px;
}
label {
	margin: 10px;
}
button {
	margin: 10px;
}
.root {
	margin: 0 auto;
	width: 600px;
	height: 300px;
	border: 1px solid #aaa;
	text-align: center;
}
.outer {
	display: inline-block;
	width: 250px;
	height: 250px;
	margin: 25px 20px;
	border: 1px solid #aaa;
}
.inner {
	display: inline-block;
	width: 100px;
	height: 200px;
	margin: 25px 5px;
	border: 1px solid #aaa;
}