* {
	padding: 0;
	margin: 0;
}
form {
	margin: 20px;
	position: relative;
}
span {
	display: none;
	position: absolute;
	top:100%;
}
form > input:checked + label + span {
	display: block;
}
form > input {
	margin: 21px 5px 21px 21px;
}
#city {
	margin-right: 30px;
}
#city option {
	border-right: 1px solid #aaa;
}