* {
	margin: 0;
	padding: 0;
}
.main {
    position: absolute;
    top: 50%; left: 50%;
    width: 400px;
    min-height: 200px;
    background-color: #ccc;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);	
            transform: translate(-50%,-50%);		
    overflow: hidden;
}
.left {
	position: absolute;
	top: -50px;
	left: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
}
.right {
	position: absolute;
	bottom: -50px;
	right: -50px;
	width: 100px;
	height: 100px;
	background-color: #fc0;
	border-radius: 50%;
}